* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #f5ba13;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

p#greeting {
  font-weight: bold;
  color: white;
  font-size: x-large;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

input {
  border: 1px solid #f5ba13;
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "McLaren", cursive;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: #f5ba13;
  font-family: "McLaren", cursive;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: auto;
}

h1.login-header {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
}

.loginLink, .registerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ba13;
  padding: 2%;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 0 10px;
  width: 150px;
  border-radius: 10%;

  transition: background-color 0.3s;

  &:hover {
  background-color: #eddbaa;
  }
}



h1.greeting-header{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.wrapper {
  margin-top: 10%;
}

button#deleteButton {
  background-color: white;
}

button#logout-button {
  cursor: pointer;
  margin-left: 2%;
  font-size: large;
  font-weight: bold;
  width: 200px;
  background-color: white;
  color: #f5ba13;
}

.forgotPasswordLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f5ba13;
  margin-top: 2%;
}

button#reset-password, button#login, button#signup {
  cursor: pointer;
  color: white;
}

